@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.green {
    color: #016435;
}

#page-presentation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    height: 98vh;
    overflow: hidden;

    font-family: 'Lato', sans-serif;
    color: #2c2c2c;

    position: relative;
    overflow: hidden;
}

#page-presentation .img-presentation img {
    max-width: 100%;
    height: 250px;
}

#page-presentation .noms-presentation {
    font-weight: bold;
}

#page-presentation .voir-travail-presentation a {
    border: 1px solid #2c2c2c;
    padding: 15px 50px;
    overflow: hidden;

    text-decoration: none;
    color: #2c2c2c;

    transition: 250ms;
    position: relative;
}

#page-presentation .voir-travail-presentation a::before, #page-presentation .voir-travail-presentation a::after {
    content: "";
    width: 24px;
    height: 24px;
    opacity: 0;
    background: url(uqtr.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 200ms;
}

#page-presentation .voir-travail-presentation a::before {
    left: 5px;
}

#page-presentation .voir-travail-presentation a::after {
    right: 5px;
}

#page-presentation .voir-travail-presentation a:hover::before {
    opacity: 1;
    left: 12px;
}

#page-presentation .voir-travail-presentation a:hover::after {
    opacity: 1;
    right: 12px;
}

#page-presentation .voir-travail-presentation a:hover {
    cursor: pointer;
}

/*#page-presentation .voir-travail-presentation a::before {
    content: "";
    height: 13px;
    width: 100px;
    background: #CB9F00;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: -60%;
    transform: rotate(-45deg);
}

#page-presentation .voir-travail-presentation a::after {
    content: "";
    height: 13px;
    width: 100px;
    background: #016435;

    position: absolute;
    top: 50%;
    left: -45%;
    transform: rotate(-45deg);
}*/